<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angjiax.angjiaxaigent.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.angjiax.angjiaxaigent.entity.OrderItem">
            <id property="id" column="id" />
            <result property="orderId" column="orderId" />
            <result property="productId" column="productId" />
            <result property="productName" column="productName" />
            <result property="productImage" column="productImage" />
            <result property="quantity" column="quantity" />
            <result property="unitPrice" column="unitPrice" />
            <result property="totalPrice" column="totalPrice" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,orderId,productId,productName,productImage,quantity,
        unitPrice,totalPrice,createTime,updateTime,isDelete
    </sql>
</mapper>
