<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angjiax.angjiaxaigent.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.angjiax.angjiaxaigent.entity.Product">
            <id property="id" column="id" />
            <result property="productName" column="productName" />
            <result property="categoryName" column="categoryName" />
            <result property="brand" column="brand" />
            <result property="originalPrice" column="originalPrice" />
            <result property="currentPrice" column="currentPrice" />
            <result property="stock" column="stock" />
            <result property="salesVolume" column="salesVolume" />
            <result property="rating" column="rating" />
            <result property="platform" column="platform" />
            <result property="platformUrl" column="platformUrl" />
            <result property="imageUrl" column="imageUrl" />
            <result property="productDesc" column="productDesc" />
            <result property="status" column="status" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,productName,categoryName,brand,originalPrice,currentPrice,
        stock,salesVolume,rating,platform,platformUrl,
        imageUrl,productDesc,status,createTime,updateTime,
        isDelete
    </sql>
</mapper>
